# Dependencias locales
node_modules
npm-debug.log*

# Archivos de audio temporales
v_*.mp3
v_*.ogg
prod_*.mp3
tmp_track.mp3
dj_auto.mp3
Redactor_ia.mp3

# Secretos y variables locales
.env
.git

# Archivos del sistema
.DS_Store
Thumbs.db
